.custom-table{
    width: 100%;
 th,td{
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    font-size: 120%;
    &:first-child{
        width: 50%;
    }
}
.custom-media img{
    width: 80px;
    height: 80px;
    border: 1px solid #ebebeb;
    margin-left: 10px;
}

.custom-media h4{
    font-size: 18px;
    margin: 12px 0;
}
.quantity{
    width: 56px;
    height: 34px !important;
    padding: 0 8px;
    margin: auto;
}
th{
    color: #c2c2c2;
    font-weight: normal;
}
.custom-media{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
th:first-child{
    padding-right: 20px;
}
 tfoot td{
    border-bottom: none;
    font-size: 150%;
}
 .total-price *{
    color: #000;
}
 .total-price .custom-text-muted .custom-text-muted{
    color: #a9a9a9;
}
}
