@import './variables';
@import'./custom-table';
@import'./_mixins';
@import'./custom.scss';
.custom-form-control,
.custom-btn{
    border: 1px solid #eef0ea;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.3s ease;
    padding: 6px 16px 7px 14px;
    color: #868686;
}
.custom-navbar .container .custom-form-control:focus{
    border-color: #c2101e;
    box-shadow: 0 0 2px 0 #c2101e;
}
.custom-btn:hover{
    background-color: #d4d4d4;
    color: $brand-primery ;
    border: 1px solid #8c8c8c;
}
.custom-btn-primary2{
    color: #000;
    background-color: $brand-primery;
    border-color: $brand-primery;

&:hover,
&:active,
&:focus,
&:active:focus,
&:active:hover{
    background-color: $brand-primery;
    border-color: $brand-primery;
    color: #000;
}
}
.custom-btn-primary{
    @include button-style($brand-primery);
}

.custom-btn-danger{
    @include button-style($brand-danger);
}